body {
    overflow: hidden;
    background-color: #222;
}

header .headerLi, header .headerUl, header a {
    color: white !important;
}
.noApplets {
    color: white;
    background-image: url('https://web-assets.ifttt.com/packs/media/prosumer/svg--home--circle-8e9b206299f7a3ea3488.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 12%;
    padding-bottom: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7rem;
    text-shadow: 0 0 10px rgba(34,34,34,.6),0 0 10px rgba(34,34,34,.6),0 0 10px rgba(34,34,34,.6);
}


.appletsSection {
    overflow: auto;
    max-height: 90%;
}

.appletsContent {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 75em;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    text-align: center;
    color: white;
}

.contentLink {
    border-radius: 5rem;
    background-color: #000;
    color: #111;
    font-size: 1.8rem;
    padding: 1.6rem 4.4rem;
    width: 50%;
    margin: 50px auto 0;
}

.appletsContent h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4.44rem;
}