body {
    overflow: hidden;
    background-color: #222;
}

header .headerLi, header .headerUl, header a {
    color: white !important;
}


.developersSection {
    overflow: auto;
    max-height: 90%;
}

.developersContent {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 75em;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    text-align: center;
    color: white;
}

.contentLink {
    border-radius: 5rem;
    background-color: #000;
    color: #111;
    font-size: 1.8rem;
    padding: 1.6rem 4.4rem;
    width: 50%;
    margin: 50px auto 0;
}

.developersContent h1 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 4.44rem;
}

.developersContent h2 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1rem;
}

.developersContent p {
    text-align: left;
    text-shadow: 0 0 10px rgba(34,34,34,.6),0 0 10px rgba(34,34,34,.6),0 0 10px rgba(34,34,34,.6);
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1rem;
}