section {
    max-width: none;
}

#flex-div {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#flex-div div {
    padding-top: 40px;
    height: 160px;
    width: 200px;
    background: grey;
    border-radius: 0.35rem;
}

#flex-div div img {
    max-height: 50px;
    max-width: 50px;
}